Reports
[{"id":"361b8c83.838044","type":"function","z":"77f09ccc.429564","name":"SQL","func":"if (msg.payload.TEMP === true) {\n    var m = {\n        topic : \"Select W_TIME, OUTSIDE from TEMP order by W_TIME;\" , \n        label : \"Celcius\"\n };\n}\nif (msg.payload.HUMIDITY === true) {\n    var m = {\n        topic : \"Select W_TIME, REL_HUM from TEMP order by W_TIME;\" , \n        label : \"Celcius\"\n };\n}\nif (msg.payload.DEWPOINT === true) {\n    var m = {\n        topic : \"Select W_TIME, DEWPOINT from TEMP order by W_TIME;\" , \n        label : \"Celcius\"\n };\n}\nif (msg.payload.BOARD === true) {\n        var m = {\n topic : \"Select W_TIME, B_VOLTAGE from BOARD order by W_TIME desc;\"     \n };\n}\nif (msg.payload.BTEMP === true) {\n        var m = {\n topic : \"Select W_TIME, C_TEMP from BOARD order by W_TIME desc;\"     \n };\n}\nif (msg.payload.WIND === true) {\n        var m = {\n topic : \"Select W_TIME, SPEED from WIND order by W_TIME desc;\"     \n };\n}\nif (msg.payload.DIRECTION === true) {\n        var m = {\n topic : \"Select W_TIME, DIRECTION from WIND order by W_TIME desc;\"     \n };\n}\nif (msg.payload.PRESSURE === true) {\n        var m = {\n topic : \"Select W_TIME, REL_PRESS from PRESSURE order by W_TIME desc;\"     \n };\n}\nif (msg.payload.SOLAR === true) {\n        var m = {\n topic : \"Select W_TIME, RAD from SOLAR order by W_TIME desc;\"     \n };\n}\n\nreturn m;","outputs":1,"noerr":0,"x":287,"y":162.5,"wires":[["1fcc2ed.92e81d1"]]},{"id":"c76c8693.d146b8","type":"function","z":"77f09ccc.429564","name":"Prep","func":"var msg2 = [];\nvar output = [];\nvar label = \"Something is wrong\";\nif (msg.topic.indexOf(\"OUTSIDE\") >0){\n    label = \"Celcius\";\n    msg.topic = \"Outside temperature\"\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].OUTSIDE]);        \n    }    \n}\nif (msg.topic.indexOf(\"TEMP_AVG\") >0){\n    label = \"Celcius\";\n    msg.topic = \"Daily Average temperature\"\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].WE_DATE, msg.payload[j].TEMP_AVG]);        \n    }    \n}\nif (msg.topic.indexOf(\"REL_HUM\") >0){\n    label = \"Percent\";\n    msg.topic = \"Relative humidity\"\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].REL_HUM]);        \n    }    \n}\nif (msg.topic.indexOf(\"DEWPOINT\") >0){\n    label = \"Celcius\";\n    msg.topic = \"Dewpoint\"\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].DEWPOINT]);        \n    }    \n}\nif (msg.topic.indexOf(\"SPEED\") >0){\n    label = \"Kph\";\n    msg.topic = \"Wind speed\"\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].SPEED]);        \n    }    \n}\nif (msg.topic.indexOf(\"WIND_AVG\") >0){\n    label = \"Kph\";\n    msg.topic = \"Daily average wind speed (Kph)\"\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].WE_DATE, msg.payload[j].WIND_AVG]);        \n    }    \n}\nif (msg.topic.indexOf(\"WIND_RUN\") >0){\n    label = \"K\";\n    msg.topic = \"Daily wind run (kilometers)\"\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].WE_DATE, msg.payload[j].WIND_RUN]);        \n    }    \n}\nif (msg.topic.indexOf(\"DIRECTION\") >0){\n    label = \"Degrees\";\n    msg.topic = \"Wind direction\"\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].DIRECTION]);        \n    }    \n}\nif (msg.topic.indexOf(\"B_VOLTAGE\") >0){\n    label = \"volts\";\n    msg.topic = \"Battery volts\"\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].B_VOLTAGE]);        \n    }    \n}\nif (msg.topic.indexOf(\"C_TEMP\") >0){\n    label = \"Celcius\";\n    msg.topic = \"Board temperature\"\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].C_TEMP]);        \n    }    \n}\nif (msg.topic.indexOf(\"RAD\") >0){\n    label = \"W/m2\";\n    msg.topic = \"Solar radiation (W/m2)\"\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].RAD]);        \n    }    \n}\nif (msg.topic.indexOf(\"SOLAR_ENERGY\") >0){\n    label = \"Ly\";\n    msg.topic = \"Daily solar energy (Ly)\"\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].WE_DATE, msg.payload[j].SOLAR_ENERGY]);        \n    }    \n}\nif (msg.topic.indexOf(\"REL_PRESS\") >0){\n    label = \"Pa\";\n    msg.topic = \"Relative pressure (Pa)\"\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].W_TIME, msg.payload[j].REL_PRESS]);        \n    }    \n}\nif (msg.topic.indexOf(\"BAR\") >0){\n    label = \"Pa\";\n    msg.topic = \"Daily relative pressure (Pa)\"\n    for (var j=0; j<msg.payload.length; j++) {\n        output.push([msg.payload[j].WE_DATE, msg.payload[j].BAR]);        \n    }    \n}\n\nmsg2.push({ key: label, values : output});\n\nmsg.payload=msg2;\n//msg.payload = [ { key: \"Power\", values : output} ];\n//msg.topic = \"Power\";\nreturn msg;","outputs":1,"noerr":0,"x":617,"y":164.5,"wires":[["43cd71a.019fe9","2fef2818.172cd8"]]},{"id":"587a7eea.22f57","type":"inject","z":"77f09ccc.429564","name":"Reset chart","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":241,"y":323.5,"wires":[["b9792441.983d38"]]},{"id":"b9792441.983d38","type":"function","z":"77f09ccc.429564","name":"Empty payload","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":502,"y":313.5,"wires":[["43cd71a.019fe9","2fef2818.172cd8"]]},{"id":"da2bca15.82f0b8","type":"ui_form","z":"77f09ccc.429564","name":"Data points","label":"Choose one item at a time to graph","group":"7398a6ce.c82888","order":0,"width":"6","height":"6","options":[{"label":"temperature","value":"TEMP","type":"checkbox","required":false},{"label":"dew point","value":"DEWPOINT","type":"checkbox","required":false},{"label":"humidity","value":"HUMIDITY","type":"checkbox","required":false},{"label":"pressure","value":"PRESSURE","type":"checkbox","required":false},{"label":"wind speed","value":"WIND","type":"checkbox","required":false},{"label":"wind direction","value":"DIRECTION","type":"checkbox","required":false},{"label":"solar rads","value":"SOLAR","type":"checkbox","required":false},{"label":"battery level","value":"BOARD","type":"checkbox","required":false},{"label":"board Temp","value":"BTEMP","type":"checkbox","required":false}],"formValue":{"TEMP":false,"DEWPOINT":false,"HUMIDITY":false,"PRESSURE":false,"WIND":false,"DIRECTION":false,"SOLAR":false,"BOARD":false,"BTEMP":false},"payload":"","topic":"","x":103,"y":180.5,"wires":[["361b8c83.838044"]]},{"id":"5feca493.3e299c","type":"comment","z":"77f09ccc.429564","name":"Dynamic report example","info":"This flow can generate graph based from data stored\nin the database and display multiple data points\nin a single graph.","x":136.5,"y":117,"wires":[]},{"id":"1fcc2ed.92e81d1","type":"mysql","z":"77f09ccc.429564","mydb":"ee7040c0.1be97","name":"","x":455.5,"y":163.89999389648438,"wires":[["c76c8693.d146b8"]]},{"id":"43cd71a.019fe9","type":"ui_chart","z":"77f09ccc.429564","name":"Graphs","group":"f52e12ca.a02a2","order":1,"width":"6","height":"6","label":"","chartType":"line","legend":"false","xformat":"DD-HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":882.5,"y":231.5,"wires":[[],[]]},{"id":"78a394c1.a2deec","type":"ui_button","z":"77f09ccc.429564","name":"","group":"f52e12ca.a02a2","order":3,"width":0,"height":0,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":259.5,"y":397.5,"wires":[["b9792441.983d38"]]},{"id":"2fef2818.172cd8","type":"ui_text","z":"77f09ccc.429564","group":"f52e12ca.a02a2","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.topic}}","layout":"col-center","x":693.5,"y":231.5,"wires":[]},{"id":"43e352e7.0223dc","type":"function","z":"77f09ccc.429564","name":"Query SQL","func":"var Week  = 604800000 ; //7 Days\nvar Day   =  86400000 ; // 1 Days\nvar d = new Date();\nvar epoch = d.getTime();\nvar fromdate = epoch - Day;\nvar enddate = epoch;\nvar output = [];\n\nif (msg.payload.TEMP === true) {\n    var m = {\n        topic : \"Select WE_DATE, TEMP_AVG from CORE_DATE where WE_DATE >= '\" + msg.payload.FROMDATE + \"' and WE_DATE <= '\" + msg.payload.TODATE + \"' order by WE_DATE;\" , \n        \n };\n}\nif (msg.payload.PRESSURE === true) {\n    var m = {\n        topic : \"Select WE_DATE, BAR from CORE_DATE where WE_DATE >= '\" + msg.payload.FROMDATE + \"' and WE_DATE <= '\" + msg.payload.TODATE + \"' order by WE_DATE;\" , \n        \n };\n}\nif (msg.payload.WIND === true) {\n    var m = {\n        topic : \"Select WE_DATE, WIND_AVG from CORE_DATE where WE_DATE >= '\" + msg.payload.FROMDATE + \"' and WE_DATE <= '\" + msg.payload.TODATE + \"' order by WE_DATE;\" , \n        \n };\n}\nif (msg.payload.RUN === true) {\n    var m = {\n        topic : \"Select WE_DATE, WIND_RUN from CORE_DATE where WE_DATE >= '\" + msg.payload.FROMDATE + \"' and WE_DATE <= '\" + msg.payload.TODATE + \"' order by WE_DATE;\" , \n        \n };\n}\nif (msg.payload.SOLAR === true) {\n    var m = {\n        topic : \"Select WE_DATE, SOLAR_ENERGY from CORE_DATE where WE_DATE >= '\" + msg.payload.FROMDATE + \"' and WE_DATE <= '\" + msg.payload.TODATE + \"' order by WE_DATE;\" , \n        \n };\n}\nreturn m;","outputs":1,"noerr":0,"x":280.5,"y":247.449951171875,"wires":[["1fcc2ed.92e81d1"]]},{"id":"42bd7894.8fc568","type":"ui_form","z":"77f09ccc.429564","name":"Query","label":"","group":"e7fc81da.574c3","order":0,"width":0,"height":0,"options":[{"label":"from date (yyyy-mm-dd)","value":"FROMDATE","type":"text","required":true},{"label":"to date (yyyy-mm-dd)","value":"TODATE","type":"text","required":true},{"label":"temperature","value":"TEMP","type":"checkbox","required":false},{"label":"pressure","value":"PRESSURE","type":"checkbox","required":false},{"label":"wind speed","value":"WIND","type":"checkbox","required":false},{"label":"wind run","value":"RUN","type":"checkbox","required":false},{"label":"solar energy","value":"SOLAR","type":"checkbox","required":false}],"formValue":{"FROMDATE":"","TODATE":"","TEMP":false,"PRESSURE":false,"WIND":false,"RUN":false,"SOLAR":false},"payload":"","topic":"","x":99.5,"y":247.5,"wires":[["43e352e7.0223dc"]]},{"id":"7398a6ce.c82888","type":"ui_group","z":"","name":"Current","tab":"f9e5c273.ac74d","order":1,"disp":true,"width":"6"},{"id":"ee7040c0.1be97","type":"MySQLdatabase","z":"","host":"10.0.1.40","port":"3306","db":"weather","tz":""},{"id":"f52e12ca.a02a2","type":"ui_group","z":"","name":"Graph","tab":"f9e5c273.ac74d","order":2,"disp":true,"width":"6"},{"id":"e7fc81da.574c3","type":"ui_group","z":"","name":"Daily Query","tab":"f9e5c273.ac74d","disp":true,"width":"6"},{"id":"f9e5c273.ac74d","type":"ui_tab","z":"","name":"Graphs","icon":"dashboard","order":2}]